.titles {
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-family: Cascadia Code;
}

body {
    background-color: #051318;
}

.styleTextField {
    position: relative;
    top: 300px;
    height: 50px;
    left: 790px;
}

.styleTextField1 {
    position: relative;
    top: 200px;
    height: 30px;
    left: 790px;
}

button {
    position: relative;
    left: 849px;
    top: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
   }
   
   button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   /* Customize the label (the checkbox-btn) */
.checkbox-btn {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 790px;
    top: 240px;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-btn input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    position: relative;
  }
  
  .checkbox-btn label {
    cursor: pointer;
    font-size: 14px;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2.5px solid #ffffff;
    transition: .2s linear;
  }
  .checkbox-btn input:checked ~ .checkmark {
    background-color: transparent;
    
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 40%;
    width: 10px;
    height: 14px;
    border: 2px solid #0ea021;
    filter: drop-shadow(0px 0px 10px #0ea021);
    border-width: 0 2.5px 2.5px 0;
    transition: .2s linear;
    transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);


  }
  
  /* Show the checkmark when checked */
  .checkbox-btn input:checked ~ .checkmark:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: pulse 1s ease-in;
  }
  
  .checkbox-btn input:checked ~ .checkmark {
    transform: rotate(45deg);
    border: none;
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
    }
  }


  .theme {
    font-size: medium;
    font-family: Cascadia Code;
    color: white;
  }

